@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.4rem;
  font-weight: 750;
}

body {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
}

button {
  border-radius: 50px;
  background-color: #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 14px 21px;
  border: none;
  box-shadow: 4px 4px 3px #e2e2e2;
  font-size: 1rem;
  cursor: pointer;
}

header {
  position: relative;
  width: 100%;
  height: 50px;
}
@media screen and (min-width: 1024px) {
  header {
    height: 80px;
  }
}
header span {
  position: absolute;
  top: 15px;
  left: 20px;
}
@media screen and (min-width: 1024px) {
  header span {
    top: 30px;
  }
}
header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
header img {
  height: 30px;
}
@media screen and (min-width: 1024px) {
  header img {
    height: 40px;
  }
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 30px;
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 20px 40px;
  }
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 13px;
}
footer h2 a {
  font-family: "Shrikhand", sans-serif;
  font-size: 1rem;
  font-weight: 100;
}
footer div {
  margin-block-start: 0;
  margin-block-end: 0;
  height: 30px;
}
footer div a {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
footer p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.fa-utensils, .fa-hands-helping {
  width: 10px;
  font-size: 0.7rem;
  margin-right: 10px;
}

.map {
  display: flex;
  justify-content: center;
  padding: 0 115px 0 115px;
  background: linear-gradient(to top, #eaeaea 92%, #cfcfcf);
  font-size: 1rem;
  font-weight: 500;
  color: #353535;
}
@media screen and (min-width: 768px) {
  .map {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .map {
    justify-content: center;
  }
}
.map__icon {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.explorer {
  background-color: #f6f6f6;
  text-align: center;
  padding: 40px 0 50px 0;
}
.explorer h1 {
  font-size: 1.6rem;
  font-weight: 800;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0 50px 0 50px;
}
.explorer p {
  font-size: 1.1rem;
  font-weight: 350;
  padding: 0 20px 10px 20px;
}

.block-rest {
  background-color: #f6f6f6;
}
.block-rest > div {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .block-rest > div {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .block-rest > div {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
  }
}
.block-rest h2 {
  padding: 60px 0 0 20px;
  margin: 0;
}

.rest-prev {
  height: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 20px #D6D6D6;
  position: relative;
}
@media screen and (min-width: 768px) {
  .rest-prev {
    width: 49%;
  }
}
@media screen and (min-width: 1024px) {
  .rest-prev {
    width: 24%;
  }
}
.rest-prev img {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.rest-prev .info-nvx {
  width: 80px;
  height: 20px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: 600;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  right: 20px;
  top: 15px;
}
.rest-prev__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rest-prev__name h3 {
  margin: 10px 0 0 10px;
  font-size: 1rem;
  font-weight: 800;
}
.rest-prev__name p {
  margin: 0 0 0 10px;
  font-size: 1rem;
  font-weight: 380;
}
.rest-prev__name i {
  margin: 0 15px 0 0;
  font-size: 1.2rem;
}
.rest-prev__name i:hover {
  background: linear-gradient(#FF79DA, #9356DC);
}

.steps-flex {
  padding: 30px 20px 60px 25px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .steps-flex {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1024px) {
  .steps-flex {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.steps h2 {
  margin-bottom: 0;
  padding: 30px 0 0 20px;
}
.steps i {
  color: #7e7e7e;
}

.steps-fonct {
  height: 70px;
  border: none;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #e2e2e2;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 5fr;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .steps-fonct {
    height: 90px;
    width: 30%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .steps-fonct {
    height: 80px;
    width: 30%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
  }
}
.steps-fonct div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #9356DC;
  height: 1.6rem;
  width: 1.6rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  margin: -12px;
}
@media screen and (min-width: 768px) {
  .steps-fonct div {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: -10px 0 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .steps-fonct div {
    margin: -20px 0 0 0;
    height: 2rem;
    width: 2rem;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .steps-fonct > p {
    padding-right: 20%;
  }
}
@media screen and (min-width: 1024px) {
  .steps-fonct > p {
    padding-right: 0;
  }
}
.steps-fonct--last {
  height: 70px;
  border: none;
  background-color: #f5edff;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #e2e2e2;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 5fr;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .steps-fonct--last {
    height: 90px;
    width: 30%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .steps-fonct--last {
    height: 80px;
    width: 30%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
  }
}
.steps-fonct--last div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #9356DC;
  height: 1.6rem;
  width: 1.6rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  margin: -12px;
}
@media screen and (min-width: 768px) {
  .steps-fonct--last div {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: -10px 0 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .steps-fonct--last div {
    margin: -20px 0 0 0;
    height: 2rem;
    width: 2rem;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .steps-fonct--last > p {
    padding-right: 20%;
  }
}
@media screen and (min-width: 1024px) {
  .steps-fonct--last > p {
    padding-right: 0;
  }
}
.steps-fonct--last i {
  color: #9356DC;
}

.menu {
  margin-bottom: -50px;
}
.menu img {
  width: 100%;
  height: 260px;
}
@media screen and (min-width: 768px) {
  .menu img {
    height: 400px;
  }
}
.menu > div {
  background-color: #f6f6f6;
  border-radius: 45px 45px 0 0;
  position: relative;
  top: -50px;
}
@media screen and (min-width: 768px) {
  .menu > div {
    padding: 0 20px 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .menu > div {
    padding: 0;
  }
}
.menu__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__heading h1 {
  margin: 35px 0 0 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7rem;
  font-weight: 450;
}
.menu__heading i {
  margin: 35px 40px 0 0;
  font-size: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .menu__flex {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1024px) {
  .menu__meal {
    width: 30%;
  }
}
.menu__meal h2 {
  margin: 40px 0 20px 20px;
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom-color: #99E2D0;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  width: 38px;
}
.menu__button {
  display: flex;
  justify-content: center;
}
.menu__button button {
  width: 170px;
  display: block;
  margin: 40px 0 70px 0;
  cursor: pointer;
}

.dish-presentation {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #e2e2e2;
  margin: 0 20px 5px 20px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .dish-presentation {
    padding: 5px 20px 5px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .dish-presentation {
    margin: 0 0 15px 0;
  }
}
.dish-presentation div {
  display: flex;
  justify-content: space-between;
}
.dish-presentation h3 {
  margin: 5px 0 2px 5px;
  font-size: 1.1rem;
}
.dish-presentation p {
  margin: 2px 0 5px 5px;
  font-size: 0.9rem;
  font-weight: 350;
}
.dish-presentation p:nth-child(2) {
  font-weight: 600;
  margin-right: 10px;
}
.dish-presentation i {
  display: none;
}

/*# sourceMappingURL=style.css.map */
