//Mixins

@mixin btn 
{
    border-radius: 50px;
    background-color: $colour-primary;
    background: linear-gradient($colour-secondary, $colour-primary);
    color: white;
    padding: 14px 21px;
    border: none;
    box-shadow: 4px 4px 3px #e2e2e2;
    font-size: 1rem;
}

@mixin step($colour: #f6f6f6)
{
    height: 70px;
    border: none;
    background-color: $colour;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #e2e2e2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;

    div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: $colour-primary;
        height: 1.6rem;
        width: 1.6rem;
        color:white;
        margin:-45px;
        font-size: 0.9rem;
        font-weight: 400;
    }
}

@mixin nvx
{
    width: 80px;
    height: 20px;
    background-color: #99e2d0;
    color: #008766;
    font-weight: 600;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    left: 230px;
    top: 15px;
}

@mixin dish-price
{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #e2e2e2;
    margin: 0 20px 5px 20px;
}
