//Mixins

@mixin btn 
{
    border-radius: 50px;
    background-color: $colour-primary;
    background: linear-gradient($colour-secondary, $colour-primary);
    color: white;
    padding: 14px 21px;
    border: none;
    box-shadow: 0 6px 6px #e2e2e2;
    transition: all 300ms;
    font-size: 1rem;
    cursor: pointer;
}

@mixin step($colour: #f6f6f6)
{
    height: 70px;
    border: none;
    background-color: $colour;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #e2e2e2;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 5fr;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;

    &:hover
    {
        background-color: #f5edff;
        transition: all .5s;
        i 
        {
            color: $colour-primary;
            transition: all .6s;
        }
    }

    @include tablet 
    {
        height: 90px;
        width: 30%;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2fr;
        justify-items: center;
    }
    
    @include desktop
    {
        height: 80px;
        width: 30%;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2fr;
        justify-items: center;
    }

    div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: $colour-primary;
        height: 1.6rem;
        width: 1.6rem;
        color:white;
        font-size: 0.9rem;
        font-weight: 400;
        margin: -12px;

        @include tablet
        {
            grid-column-start: 1;
            grid-column-end: 3;
            margin: -10px 0 0 0;
        }

        @include desktop
        {
            margin: -20px 0 0 0;
            height: 2rem;
            width: 2rem;
            font-size: 1.1rem;
        }
    }

    &>p 
    {
        @include tablet
        {
            padding-right: 20%;
        }

        @include desktop
        {
            padding-right: 0;
        }
    }
}

@mixin nvx
{
    width: 80px;
    height: 20px;
    background-color: #99e2d0;
    color: #008766;
    font-weight: 600;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 15px;
}

@mixin dish-price
{
    height: 55px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #e2e2e2;
    margin: 0 20px 5px 20px;
    padding: 5px;
    overflow: hidden;
    position: relative;

    @include tablet 
    {
        padding: 5px 20px 5px 20px;
    }

    @include desktop
    {
        margin: 0 0 15px 0;
    }
}

@mixin checking 
{
    background-color: $colour-tertiary;
    color: #fff;
    height: 65px;
    width: 65px;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -70px;
    transition: all .5s ease-in-out;
}

@mixin tablet
{
    @media screen and (min-width: map-get($breakpoints, tablet))
    {
        @content;
    }
}

@mixin desktop
{
    @media screen and (min-width: map-get($breakpoints, desktop))
    {
        @content;
    }
}

@mixin wide 
{
    @media screen and (min-width: map-get($breakpoints, wide))
    {
        @content;
    }
}
