// Variables

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$text: 'Roboto', sans-serif;
$text-logo: 'Shrikhand', sans-serif;

$dimensions: (size-block-title:1.4rem, size-line: 1rem, weight:750); 

