.steps 
{   

    &-flex 
    {
        padding: 30px 20px 60px 25px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @include tablet 
        {
            flex-direction: row;
            justify-content: space-evenly;
        }
        
        @include desktop 
        {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    h2
    {
        margin-bottom: 0;
        padding: 30px 0 0 20px;
    }

    i 
    {
        color: #7e7e7e;
    }
}

.steps-fonct
{
    @include step;

    &--last
    {
        @include step (#f5edff);

        i 
        {
            color: $colour-primary;
        }
    }
}


