.map
{
    display: flex;
    justify-content: space-between;
    padding: 0 115px 0 115px;
    background: linear-gradient(to top, #eaeaea 92%, #cfcfcf);
    font-size: 1rem;
    font-weight: 500;
    color: #353535;
}

.icon-map
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorer
{
    background-color: #f6f6f6;
    text-align: center;
    padding: 40px 0 50px 0;
    
    h1 
    {
        font-size: 1.6rem;
        font-weight: 800;
        margin-block-start: 0;
        margin-block-end: 0;
        padding: 0 50px 0 50px;
    }
    p 
    {
        font-size: 1.1rem;
        font-weight: 350;
        padding: 0 20px 10px 20px;
    }
}

:-webkit-any(article, aside, nav, section) h1 
{
    margin-block-start: 0;
    margin-block-end: 0;
}