.block-rest
{
    background-color: #f6f6f6;

    &>div 
    {
        padding: 20px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        @include tablet 
        {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 40px;
        }

        @include desktop
        {
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 50px;
        }
    }

    h2 
    {
        padding: 60px 0 0 20px;
        margin: 0;
    }
}

.rest-prev
{
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 20px #D6D6D6;
    position: relative;

    @include tablet 
    {
        width: 49%;
    }

    @include desktop
    {
        width: 24%;
    }

    img 
    {
        height: 180px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .info-nvx
    {
        @include nvx;
    }

    &__name 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 
        {
            margin: 10px 0 0 10px;
            font-size: map-get($dimensions, size-line);
            font-weight: 800;
        }
    
        p 
        {
            margin: 0 0 0 10px;
            font-size: map-get($dimensions, size-line);
            font-weight: 380;
        }  
    }
}

.heart
{
    position: absolute;
    bottom: 25px;
    right: 25px;
    height: 25px;
    width: 25px;

    &:hover .heart__start
    {
         opacity: 0;
    }

    &:hover .heart__end
    {   
        opacity: 1;
        transform: scale(1);
    }

    &__start
    {
        transition: all .5s ease-in-out;
    }

    &__end
    {
        transform-origin: bottom;
        opacity:  0;
        transform: scale(0);
        transition: all .5s ease-in-out;
        background: linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    .fa-heart{
        position: absolute;
        font-size: 25px;
      }
}



